
<div class="navbar">
    <div class=logo>
        <a href="/"><i class="fa-regular fa-snowflake"></i></a>
    </div>

    <div class="list-item">
        <ul class="list_items">
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/contact">Contact</a></li>
        </ul>
    </div>
</div>
    
